@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="app-container">
    <div class="app-main">

		<div class="desktop">
			@Body

			<div class="taskbar">
				<div class="taskbar-items">
					<NavLink ActiveClass="active" Match="NavLinkMatch.All" href="/">
						Home/Index
					</NavLink>

					<NavLink ActiveClass="active" href="/conversion">
						Konversion
					</NavLink>

					<NavLink ActiveClass="active" href="/settings">
						Einstellungen
					</NavLink>

					<NavLink ActiveClass="active" href="/about">
						Über
					</NavLink>

				</div>

				<div class="taskbar-tray">
					<div class="taskbar-clock">
						<span id="tray-clock">12:00</span>
					</div>
				</div>
			</div>
		</div>      
    </div>
</div>

@code {
	void a()
	{
		
	}
}