@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="app-container">
    <div class="app-main">

		<div class="desktop">
			@Body

			<div class="taskbar">
				<div class="taskbar-items">
					<NavLink ActiveClass="active" Match="NavLinkMatch.All" href="/">
						Home/Index
					</NavLink>

					<NavLink ActiveClass="active" href="/conversion">
						Konversion
					</NavLink>

					<NavLink ActiveClass="active" href="/ip">
						IP-Tools
					</NavLink>

					<NavLink ActiveClass="active" href="/settings">
						Einstellungen
					</NavLink>

					<NavLink ActiveClass="active" href="/about">
						Über
					</NavLink>

				</div>

				<div class="taskbar-tray">
					<div class="taskbar-clock">
						<span id="tray-clock">@currentTime</span>
					</div>
				</div>
			</div>
		</div>      
    </div>
</div>

@code {
	System.Timers.Timer timer = new System.Timers.Timer(1000);

    string currentTime = DateTime.Now.ToString("HH:mm");

	protected override Task OnInitializedAsync()
	{
		timer.Elapsed += async (sender, e) =>
		{
			await InvokeAsync(() =>
			{
				currentTime = DateTime.Now.ToString("HH:mm");
			});
        };

		timer.Start();

		return base.OnInitializedAsync();
    }

	protected override async Task OnParametersSetAsync()
	{
		
    }
}