<div class="menubar-item">
    <div class="menubar-item-button">
        <span>@Title</span>
    </div>

    <div class="menubar-dropdown">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Menu";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}