<div class="checkbox-input-wrapper">
    <input type="checkbox" value="@IsChecked" checked="@IsChecked" @onchange="OnInputChange" disabled="@IsDisabled" />
    <span @onclick="OnClick">@Text</span>
</div>
