@typeparam TItem

<div class="combobox-input-wrapper">
    <select value="@SelectedItem.ToString()" @onchange="OnInputChange">
        @foreach (var item in Items)
        {
            <option value="@item.ToString()" selected="@(item.Equals(SelectedItem) ? "selected" : null)">@item.ToString()</option>
        }

    </select>

    <button>
        <span class="combobox-caret">&#9662;</span>
    </button>
</div>

@code {

}