@typeparam TItem

<div class="combobox-input-wrapper">
    <select value="@SelectedItem" @onchange="OnInputChange" >
        @foreach (var item in Items)
        {
            <option value="@item" selected="@(item.Equals(SelectedItem) ? "selected" : null)">@item</option>
        }

    </select>

    <button>
        <span class="combobox-caret">&#9662;</span>
    </button>
</div>

@code {

}