<div class="panel-group-box" style="@(!string.IsNullOrEmpty(Title) ? "min-width: " + Title.Length * 10 + "px;" + Attributes.ToString() : Attributes.ToString())">
    @if (!string.IsNullOrEmpty(Title))
    {
        <span class="panel-group-box-title">
            @Title
        </span>
    }

    <div class="panel-group-box-content">
        @ChildContent
     </div>
</div>
