@typeparam TItem

<div class="combobox-input-wrapper">
    <select value="@SelectedIndex" @onchange="OnInputChange">
        @for (var i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            <option value="@i" selected="@(i == SelectedIndex ? "selected" : null)">
                @(ItemTextSelector?.Invoke(item) ?? item?.ToString())
            </option>
        }
    </select>

    <button>
        <span class="combobox-caret">🡇</span>
    </button>
</div>

@code {

}