<div class="window">
    <div class="window-titlebar">
        <div class="window-titlebar-content left">
            <button class="titlebar-control">
                <h6>☰</h6>
            </button>
        </div>

        <div class="window-titlebar-content center">
            <h6>@Title</h6>
        </div>

        <div class="window-titlebar-content right">
            <button class="titlebar-control">
                <h6>┓</h6>
            </button>
        </div>
    </div>

    @if (MenuBar != null)
    {
        @MenuBar
    }


    <div class="window-content" >
        @Content
    </div>
</div>