<PageTitle>Home</PageTitle>

<div class="window" style="@(!FullScreen ? "width: " + Width + "px; height: " + Height + "px; top: 50%; left: 50%; transform: translate(-50%, -50%);" : "")">
    <div class="window-titlebar">
        <div class="window-titlebar-content">
            <h6>@Title</h6>
        </div>

        <div class="window-titlebar-content">
            <button class="titlebar-control">
                <h6>X</h6>
            </button>
        </div>
    </div>

    @if (MenuBar != null)
    {
        @MenuBar
    }


    <div class="window-content" >
        @Content
    </div>
</div>