div.about-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    img {
        height: 128px;

        filter: grayscale(100%) contrast(10);
    }
}
