@page "/about"

<PageTitle>Über BSN-Tools</PageTitle>

<Window Title="Über BSN-Tools">

    <Content>
        <p>
            <strong>Über BSN-Tools</strong>
        </p>

        <p>Version @version.Major.@version.Minor.@version.Build Build @version.Revision</p>

    </Content>
</Window>

@code {
    Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version!;
}