@page "/conversion"
@inject MessageBoxService MessageBox

<PageTitle>Konversion</PageTitle>

<Window Title="Konversion">
    <MenuBar>
        <WindowMenuBar>

            <MenuBarItem Title="Einstellungen">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

            <MenuBarItem Title="Tools">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

        </WindowMenuBar>
    </MenuBar>

    <Content>
        <div class="row-container">
            <div class="row">
                <p>
                    <span>Nummernsystem-Konverter</span>
                </p>

                <PanelBox Title="Binär" Attributes="panelStyling">
                    <Win286InputNumber @bind-Value="myCount" Min="0" Max="99999999" Format="Win286InputNumberFormat.Binary" />
                </PanelBox>


                <PanelBox Title="Dezimal" Attributes="panelStyling">
                    <Win286InputNumber @bind-Value="myCount" Min="0" Max="9999999" Format="Win286InputNumberFormat.Decimal" />
                </PanelBox>

                <PanelBox Title="Hex" Attributes="panelStyling">
                    <Win286InputNumber @bind-Value="myCount" Min="0" Max="9999999" Format="Win286InputNumberFormat.Hexadecimal" />
                </PanelBox>

                <PanelBox Title="Oktett" Attributes="panelStyling">
                    <Win286InputNumber @bind-Value="myCount" Min="0" Max="9999999" Format="Win286InputNumberFormat.Octal" />
                </PanelBox>
            </div>

            <div class="row">
                <p>
                    <span>Einheiten-Konverter</span>
                </p>



                <PanelBox Title="#1" Attributes="panelStyling">

                    <div class="units-container">
                        <Win286InputNumber @bind-Value:get="(int)unitsValue.As(selectedUnit)" @bind-Value:set="(v) => rawUnitsValue = UnitsNet.Information.From(v, selectedUnit).Bits" Min="0" Max="9999999" Format="Win286InputNumberFormat.Decimal" />

                        <Win286ComboBox TItem="InformationUnit" Items="units" @bind-SelectedItem="selectedUnit" />
                    </div>

                </PanelBox>

                <PanelBox Title="#2" Attributes="panelStyling">
                    <div class="units-container">
                        <Win286InputNumber @bind-Value:get="(int)unitsValue.As(selectedUnit2)" @bind-Value:set="(v) => rawUnitsValue = UnitsNet.Information.From(v, selectedUnit2).Bits" Min="0" Max="9999999" Format="Win286InputNumberFormat.Decimal" />

                        <Win286ComboBox TItem="InformationUnit" Items="units" @bind-SelectedItem="selectedUnit2" />
                    </div>
                </PanelBox>
            </div>


            <div class="row">
                <p>
                    <span>Download-Rechner</span>
                </p>



                <PanelBox Title="Download-Grösse" Attributes="panelStyling">

                    <div class="units-container">
                        <Win286InputNumber @bind-Value:get="(int)dlFirstUnitsValue.As(dlSelectedSourceUnit)" @bind-Value:set="(v) => rawDlFirstUnitsValue = UnitsNet.Information.From(v, dlSelectedSourceUnit).Bits" Min="0" Max="9999999" Format="Win286InputNumberFormat.Decimal" />

                        <Win286ComboBox TItem="InformationUnit" Items="units" @bind-SelectedItem="dlSelectedSourceUnit" />
                    </div>

                </PanelBox>

                <PanelBox Title="Geschwindigkeit" Attributes="panelStyling">
                    <div class="units-container">
                        <Win286InputNumber @bind-Value:get="(int)dlSecondUnitsValue.As(dlSelectedSpeedUnit)" @bind-Value:set="(v) =>rawDlSecondUnitsValue = UnitsNet.BitRate.From(v, dlSelectedSpeedUnit).BitsPerSecond" Min="0" Max="9999999" Format="Win286InputNumberFormat.Decimal" />

                        <Win286ComboBox TItem="BitRateUnit" Items="bitRateUnits" @bind-SelectedItem="dlSelectedSpeedUnit" />
                    </div>
                </PanelBox>

                

                <p>
                    Dauer: @(dlTime.Hours > 0 ? $"{dlTime.Hours} Stunde(n), " : "") @(dlTime.Minutes > 0 ? $"{dlTime.Minutes} Minute(n), " : "") @dlTime.Seconds Sekunde(n)
                </p>
            </div>
        </div>



        <div class="action-buttons">
            <button>
                OK
            </button>

            <button @onclick="OnTestClick">
                Test
            </button>
        </div>


    </Content>
</Window>

@code {
    private Styling panelStyling = new Styling
    {
        Width = "80%",
        Margin = "5;5;5;5;px",
    };

    private double rawUnitsValue = 8.0;

    private double rawDlFirstUnitsValue = 8.0;

    private double rawDlSecondUnitsValue = 8.0;

    private UnitsNet.Information dlFirstUnitsValue => UnitsNet.Information.FromBits(rawDlFirstUnitsValue);

    private UnitsNet.BitRate dlSecondUnitsValue => UnitsNet.BitRate.FromBitsPerSecond(rawDlSecondUnitsValue);

    private UnitsNet.Information unitsValue => UnitsNet.Information.FromBits(rawUnitsValue);

    private TimeSpan dlTime => TimeSpan.FromSeconds(rawDlFirstUnitsValue / rawDlSecondUnitsValue);

    private int myCount = 10;
    private int rawCount = 0;
    private int myCount2
    {
        get
        {
            return (int)UnitsNet.Information.From(rawCount, selectedUnit).As(selectedUnit2);
        }
        set
        {
            rawCount = (int)UnitsNet.Information.From(value, selectedUnit2).As(selectedUnit);
        }
    }

    private async Task OnTestClick()
    {
        // Der Code "wartet" hier, bis der Nutzer geklickt hat
        var result = await MessageBox.ShowAsync("Fehler", "Möchten Sie fortfahren?", MessageBoxButtons.YesNo);

        if (result == MessageBoxResult.Yes)
        {
            Console.WriteLine("y");
        }
        else
        {
            Console.WriteLine("n");
        }
    }


    List<InformationUnit> units = Enum.GetValues<InformationUnit>().ToList();

    List<BitRateUnit> bitRateUnits = Enum.GetValues<BitRateUnit>().ToList();

    InformationUnit selectedUnit = InformationUnit.Bit;
    InformationUnit selectedUnit2 = InformationUnit.Byte;


    InformationUnit dlSelectedSourceUnit = InformationUnit.Bit;

    BitRateUnit dlSelectedSpeedUnit = BitRateUnit.BitPerSecond;
}