div.row-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px;

    div {
        width: 200px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.full-width {
    width: 100%;
}