@page "/"
@inject MessageBoxService MessageBox
<PageTitle>Home</PageTitle>

<Window Title="BSN-Tools">

    <Content>
        <div class="layout">
            <img class="banner" src="img/banner.png" />

            <div class="text">
                <p>
                    <strong>Willkommen</strong>
                </p>

                <p>Willkommen zu BSN-Tools.</p>
            </div>
        </div>


        <div class="action-buttons">
            <button>
                OK
            </button>

            <button @onclick="OnTestClick">
                Test
            </button>
        </div>


    </Content>
</Window>

@code {
    private async Task OnTestClick()
    {
        // Der Code "wartet" hier, bis der Nutzer geklickt hat
        var result = await MessageBox.ShowAsync("Fehler", "Möchten Sie fortfahren?", MessageBoxButtons.YesNo);

        if (result == MessageBoxResult.Yes)
        {
            Console.WriteLine("y");
        } else
        {
            Console.WriteLine("n");
        }
    }
}