div.layout {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;


    img.banner {
        width: 126px;
        border: 2px groove rgb(230, 230, 230);
    }

    div.text {
        width: 250px;
        height: max-content;
    }
}


div.listing-content {
    padding: 10px;
}

div.disks-info {

    div.disk {
        width: 100px;
        height: 30px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &.active {
            background-color: black;
            color: white;

            div.disk-icon {
                border-color: white;

                &::before {
                    border-color: white;
                }

                &::after {
                    background-color: white;
                }
            }
        }

        h6 {
            font-size: 28px;
            font-weight: normal;
            margin-right: 10px;
        }

        div.disk-icon {
            position: relative;
            width: 75px;
            height: 100%;
            border: 2px solid black;

            &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 90%;
                height: 0px;
                border-top: 1px solid black;
                transform: translate(-50%, -50%);
            }


            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 15px;
                height: 10px;
                background-color: black;
                transform: translate(-50%, -50%);
            }
        }
    }
}

div.listing {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-top: 5px;

    button.listing-item {
        width: 200px;


        padding: 0px;



        border: none;

        border-radius: 0px;

        &:focus {
            background-color: black;
            color: white;
        }


        span {
            display: block;
            width: 100%;
            height: 100%;
            text-align: left;
            font-size: 21px;   
        }
    }
}