div.layout {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  gap: 20px;
}
div.layout img.banner {
  width: 126px;
  border: 2px groove rgb(230, 230, 230);
}
div.layout div.text {
  width: 250px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

div.listing-content {
  padding: 10px;
}

div.disks-info div.disk {
  width: 100px;
  height: 30px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.disks-info div.disk.active {
  background-color: black;
  color: white;
}
div.disks-info div.disk.active div.disk-icon {
  border-color: white;
}
div.disks-info div.disk.active div.disk-icon::before {
  border-color: white;
}
div.disks-info div.disk.active div.disk-icon::after {
  background-color: white;
}
div.disks-info div.disk h6 {
  font-size: 28px;
  font-weight: normal;
  margin-right: 10px;
}
div.disks-info div.disk div.disk-icon {
  position: relative;
  width: 75px;
  height: 100%;
  border: 2px solid black;
}
div.disks-info div.disk div.disk-icon::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 90%;
  height: 0px;
  border-top: 1px solid black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
div.disks-info div.disk div.disk-icon::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 15px;
  height: 10px;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.listing {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
div.listing button.listing-item {
  width: 200px;
  padding: 0px;
  border: none;
  border-radius: 0px;
}
div.listing button.listing-item:focus {
  background-color: black;
  color: white;
}
div.listing button.listing-item span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 21px;
}