@page "/"

<PageTitle>Home</PageTitle>

<Window Title="BSN-Tools">

    <Content>
        <p>
            <strong>Willkommen</strong>
        </p>

        <p>Willkommen zu BSN-Tools.</p>


        <div class="action-buttons">
            <button>
                OK
            </button>

            <button>
                Test
            </button>
        </div>


    </Content>
</Window>

