@page "/"
@inject MessageBoxService MessageBox
<PageTitle>Home</PageTitle>

<Window Title="BSN-Tools">
    <MenuBar>
        <WindowMenuBar>

            <MenuBarItem Title="Datei">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

            <MenuBarItem Title="Spezial">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

        </WindowMenuBar>
    </MenuBar>


    <Content>
       <div class="listing-content">
            <div class="disks-info">
                <div class="disk active">
                    <h6>
                        C
                    </h6>

                    <div class="disk-icon">
                    </div>
                </div>
            </div>

            <div class="listing">
                <button class="listing-item">
                    <span>UMRECHNER.EXE</span>
                </button>

                <button class="listing-item">
                    <span>IPRECHNER.EXE</span>
                </button>

                <button class="listing-item">
                    <span>HILFE.EXE</span>
                </button>

                <button class="listing-item">
                    <span>ABOUT.EXE</span>
                </button>

                <button class="listing-item">
                    <span>SETTINGS.EXE</span>
                </button>

                <button class="listing-item">
                    <span>DEBUG.EXE</span>
                </button>
            </div>
       </div>


    </Content>
</Window>

@code {
    private async Task OnTestClick()
    {
        // Der Code "wartet" hier, bis der Nutzer geklickt hat
        var result = await MessageBox.ShowAsync("Fehler", "Möchten Sie fortfahren?", MessageBoxButtons.YesNo);

        if (result == MessageBoxResult.Yes)
        {
            Console.WriteLine("y");
        } else
        {
            Console.WriteLine("n");
        }
    }
}