div.layout {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  gap: 20px;
}
div.layout img.banner {
  width: 126px;
  border: 2px groove rgb(230, 230, 230);
}
div.layout div.text {
  width: 250px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}