@page "/ip"
@inject MessageBoxService MessageBox
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<PageTitle>IP-Tools</PageTitle>

<Window Title="IP-Tools">
    <MenuBar>
        <WindowMenuBar>

            <MenuBarItem Title="Einstellungen">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

            <MenuBarItem Title="Tools">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

        </WindowMenuBar>
    </MenuBar>

    <Content>
        <p>
            <strong>IP-Tools</strong>
        </p>


        <PanelBox Title="IP-Adresse/CIDR">
            <input type="text" @bind-value="ipAddress">

            <button @onclick="OnCalculateClick">
                Berechnen
            </button>
        </PanelBox>

        @if (ipNetwork != null)
        {
            <PanelBox>
                <code>
                    @foreach (var prop in ipNetwork.GetType().GetProperties())
                    {
                        <div>
                            <strong>@prop.Name:</strong> @prop.GetValue(ipNetwork)
                        </div>
                    }

                    @if (subnets != null)
                    {
                        <div style="margin-top: 10px;">
                            <strong>Subnetze:</strong>
                            <ul>
                                @foreach (var subnet in subnets)
                                {
                                    <li>@subnet.ToString()</li>
                                }
                            </ul>
                        </div>
                    }
                </code>
            </PanelBox>
        }


        <div class="action-buttons">
            <button @onclick="OnCalculateClick">
                Berechnen
            </button>

            <button @onclick="OnSubnettingClick">
                Subnetting
            </button>
        </div>


    </Content>
</Window>

@code {
    string ipAddress = "";

    IPNetwork2 ipNetwork;

    IPNetworkCollection subnets;


    private async Task OnCalculateClick()
    {
        await InvokeAsync(() =>
        {
            NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
            {
                ["ip"] = ipAddress
            }));


        });
    }

    private async Task OnSubnettingClick()
    {
        string cidr = await JSRuntime.InvokeAsync<string>("prompt", "Geben Sie die CIDR ein:");

        if (!string.IsNullOrEmpty(cidr))
        {
            await InvokeAsync(() =>
            {
                NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
                {
                    ["ip"] = ipAddress,
                    ["cidr"] = cidr
                }));
            });
        }

        // Der Code "wartet" hier, bis der Nutzer geklickt hat
  
    }
}