@page "/ip"

<PageTitle>IP-Tools</PageTitle>

<Window Title="IP-Tools">
    <MenuBar>
        <WindowMenuBar>

            <MenuBarItem Title="Einstellungen">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

            <MenuBarItem Title="Tools">
                <DropdownItem>
                    <span>...</span>
                </DropdownItem>
            </MenuBarItem>

        </WindowMenuBar>
    </MenuBar>

    <Content>
        <p>
            <strong>IP-Tools</strong>
        </p>


        <PanelBox Title="IP-Adresse/CIDR">
            <input type="text" @bind-value="ipAddress">

            <button @onclick="OnCalculateClick">
                Berechnen
            </button>
        </PanelBox>

        @if (ipNetwork != null)
        {
            <PanelBox>
                <code>
                    @foreach (var prop in ipNetwork.GetType().GetProperties())
                    {
                        <div>
                            <strong>@prop.Name:</strong> @prop.GetValue(ipNetwork)
                        </div>
                    }
                </code>
            </PanelBox>
        }


        <div class="action-buttons">
            <button @onclick="OnCalculateClick">
                Berechnen
            </button>

            <button>
                Test
            </button>
        </div>


    </Content>
</Window>

@code {
    string ipAddress = "";

    IPNetwork2 ipNetwork;

    private async Task OnCalculateClick()
    {
        await InvokeAsync(() =>
        {
            ipNetwork = IPNetwork2.Parse(ipAddress);
        });
    }
}