@page "/settings"

<PageTitle>Einstellungen</PageTitle>

<Window Title="Einstellungen">

    <Content>
        <p>
            <strong>Einstellungen</strong>
        </p>

        <PanelBox Title="Design">
            <NT4Checkbox @bind-IsChecked="isChecked" Text="Test" />

            <p>@isChecked</p>
        </PanelBox>


        <div class="action-buttons">
            <button>
                OK
            </button>

            <button>
                Test
            </button>
        </div>


    </Content>
</Window>

@code {
    bool isChecked = false;
}

