@page "/settings"
@inject AppConfig AppConfig

<PageTitle>Einstellungen</PageTitle>

<Window Title="Einstellungen">

    <Content>
        <p>
            <strong>Einstellungen</strong>
        </p>

        <PanelBox Title="Design/Accessability">
            <Win286Checkbox @bind-IsChecked="AppConfig.CurrentSettings.FullScreenWindows" Text="Fullscreen-Fenster" />

            <span>Zoom:</span>

            <input type="number" @bind-value="AppConfig.CurrentSettings.Zoom" max="3.0" min="1.0" step="0.1" />
        </PanelBox>

        <PanelBox Title="LocalStorage-State">
            <code>
                <div>
                    @Newtonsoft.Json.JsonConvert.SerializeObject(AppConfig.CurrentSettings)
                </div>
            </code>
        </PanelBox>


        <div class="action-buttons">
            <button @onclick="OnSaveClick">
                Speichern
            </button>

            <button>
                Reset
            </button>
        </div>


    </Content>
</Window>

@code {
    private async Task OnSaveClick()
    {
        await AppConfig.SaveSettingsAsync(AppConfig.CurrentSettings);
    }
}

