@page "/settings"

<PageTitle>Einstellungen</PageTitle>

<Window Title="Einstellungen">

    <Content>
        <p>
            <strong>Einstellungen</strong>
        </p>

        <p>Test</p>


        <div class="action-buttons">
            <button>
                OK
            </button>

            <button>
                Test
            </button>
        </div>


    </Content>
</Window>

